checkpoints/autoencoder_best.pth
checkpoints/classifier_best.pth
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
0.11.0
.gitignore
data/*
__pycache__/*
checkpoints/CIFAR10/ae_best.pth
checkpoints/CIFAR10/cls_best.pth
checkpoints/MNIST/ae_best.pth
checkpoints/MNIST/cls_best.pth
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
autoencoder.pth
best_CIFAR10_model-subtask123-acc78.pth
best_classifier_final_conv.pth
best_classifier.pth
best_model_paper_conv.pth
best_model_paper_final_resnet.pth
subtask123-hiiii.ipynb
subtask123-final.ipynb
subtask123-final-final.ipynb
subtask123-fifth.ipynb
subtask123-fifth copy.ipynb
subtask123-fifth.ipynb
subtask123-fourth.ipynb
subtask123-fifth.ipynb
subtask123.ipynb
subtask123-Second.ipynb
use_cifar_autoencoder.pth
use_cifar_autoencoderNew.pth
vae_samples_epoch5.png
vae_samples_epoch10.png
vae_samples_epoch15.png
vae_samples_epoch20.png
best_simclr_model.pth
best_simclr_model0.8.pth
best_simclr_model1.8.pth
best_simclr_model2.9loss.pth
byol_model.pth
checkkk.py
SimCLR.ipynb
__pycache__/utils.cpython-310.pyc
checkpoints/best_vae.pth
checkpoints/contrastive_model_epoch5.pt
checkpoints/contrastive_model_epoch10.pt
checkpoints/contrastive_model_epoch15.pt
datasets/cifar10/cifar-10-python.tar.gz
datasets/cifar10/cifar-10-batches-py/batches.meta
datasets/cifar10/cifar-10-batches-py/data_batch_1
datasets/cifar10/cifar-10-batches-py/data_batch_2
datasets/cifar10/cifar-10-batches-py/data_batch_3
datasets/cifar10/cifar-10-batches-py/data_batch_4
datasets/cifar10/cifar-10-batches-py/data_batch_5
datasets/cifar10/cifar-10-batches-py/readme.html
datasets/cifar10/cifar-10-batches-py/test_batch
results/subtask123/CIFAR/best_simclr_modelverylowLOSS.pth
.gitignore
results/subtask123/CIFAR/paper/resnet/best_model_paper_final.pth
results/subtask123/MNIST/best_classifier_new_mnist_final.pth
results/subtask123/MNIST/best_model_paper_mnist.pth
best_model_paper_mnist.pth
__pycache__/utils.cpython-310.pyc
